@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-VariableFont_wdth\,wght.ttf') format('truetype');
   
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /*background-color: #ffffff;*/
    background-image: url('../Img_assets/BG.svg');
    font-family: 'Inter', sans-serif;
}

  
  /* Style for the header nav */
  .top-header {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 2em 6em; 
    margin-top: 16px;
  }
  
  /* Style for the logo */
  .logo {
    width: 108.21px; 
    height: 31.22px;
  }
  
  /* Style for the notify me button */
  .notify-me-btn {
    padding: 8px 16px; 
    background-color: white;
    border: 1.8px solid #06937F;
    border-radius: 8px;
    color: #06937F;
    font-size: 14px; 
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.4s ease, color 0.3s ease;
  }

  
  .notify-me-btn:hover {
    background-color: #06937F;
    color: white;
  }
  

  .comingsoon-message{
    text-align: center;
    margin-top: 100px;
  }

  .heading{
    height: 70px;
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
    font-size: 64px;
    line-height: 69.63px;
    color: #1D2739;
  }     

  .paragraph{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #344054;
    width: 760px;
    margin: auto;
    padding: 20px 0 12px;
  }

  .social-icons-container{
    display: flex;
    justify-content: space-between;
    width: 150px; 
    margin: auto;
    padding-top: 36px;
  }

  .social-icons-container img{
    height: 20px;
    width: 20px;
    transition: transform 0.3s ease;
  }

  .social-icons-container img:hover {
    transform: scale(1.6);
    /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);  */
  }


  .left-box {
    position: absolute;
    top: 63%;
    left: 0;
    margin-left: 24px;
    transform: translateY(-50%) rotate(-5deg);
    display: none;
  }
  
  .right-box {
    position: absolute;
    top: 68%;
    right: 0;
    margin-right: 24px;
    transform: translateY(-50%) rotate(5deg); 
    display: none;
  }
  
  .blocks{
    margin-top: 5em;
    width: 100%;
    object-fit: contain;
  }

  


  @media (max-width: 768px) {

    .top-header{
        padding: 20px;
    }

    .heading{
        font-size: 50px;
    }

    .paragraph{
        width: 370px;
    }

    .left-box{
      display: block;
      top: 35%;
      z-index: -3;
    }

    .right-box{
      display: block;
      top: 60%;
      margin-right: 4px;
      z-index: -3;
    }

  }
  @media (max-width: 320px) {

    .top-header{
        padding: 20px;
    }

    .heading{
        font-size: 40px;
    }

    .paragraph{
        width: 300px;
    }

    .social-icons-container{
      margin-bottom: 10px;
    }

    .left-box{
      display: none;
    }

    .right-box{
      display: none;
    }

  }
  @media (max-width: 375px) {
    .left-box{
      display: block;
      top: 35%;
      z-index: -3;
    }

    .right-box{
      display: block;
      top: 65%;
      margin-right: 4px;
      z-index: -3;
    }

  }


