/* Used Styles (colours, background-colours, grandients ETC.) */
/* stylesheet{ 
context-color: #06937F;
text-color: #1D2739;
rectangle-style: #D64933;
rectangle2-style: #570177;
blocks-style: #eee;
icon-color: #000;
}
*/


